@use "sass:map";
@use "../utils/mixins/bottom-bar";
@use "../utils/variables";

// bottom bar which contains navigation and share options
#bottom-bar {
    display:            none;
    position:           fixed;
    bottom:             0;
    height:             60px;
    background:         white;
    margin:             0;
    border-top:         1px solid #eef2f8;
    padding:            0 15px;
    z-index:            map.get(variables.$z-indexes, c-post-bottom-bar);
    transition:         transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
}

@media #{variables.$small-and-down} {
    #bottom-bar {
        // Display bottom bar in large size
        @include bottom-bar.bottom-bar-lg;

        // Push the bottom bar from the size of the large sidebar
        &[data-behavior="1"],
        &[data-behavior="2"],
        &[data-behavior="4"],
        &[data-behavior="5"] {
            @include bottom-bar.bottom-bar-pushed-lg;
        }
        // Push the bottom bar from the size of the medium sidebar
        &[data-behavior="3"],
        &[data-behavior="6"] {
            @include bottom-bar.bottom-bar-pushed-md;
        }
    }
}

@media #{variables.$medium-only} {
    #bottom-bar {
        // Display bottom bar in medium size and push it from the size of the medium sidebar
        &[data-behavior="1"],
        &[data-behavior="2"],
        &[data-behavior="3"] {
            @include bottom-bar.bottom-bar-md;
            @include bottom-bar.bottom-bar-pushed-md;
        }
        // Display bottom bar in large size and push it from the size of the large sidebar
        &[data-behavior="4"],
        &[data-behavior="5"] {
            @include bottom-bar.bottom-bar-lg;
            @include bottom-bar.bottom-bar-pushed-lg;
        }
        // Display bottom bar in large size and push it from the size of the medium sidebar
        &[data-behavior="6"] {
            @include bottom-bar.bottom-bar-lg;
            @include bottom-bar.bottom-bar-pushed-md;
        }
    }
}

@media #{variables.$large-only} {
    #bottom-bar {
        // Display bottom bar in small size and push it from the size of the large sidebar
        &[data-behavior="1"],
        &[data-behavior="2"] {
            @include bottom-bar.bottom-bar-sm;
            @include bottom-bar.bottom-bar-pushed-lg;
        }
        // Display bottom bar in medium size and push it from the size of the medium sidebar
        &[data-behavior="3"] {
            @include bottom-bar.bottom-bar-md;
            @include bottom-bar.bottom-bar-pushed-md;
        }
        // Display bottom bar in large size and push it from the size of the large sidebar
        &[data-behavior="4"],
        &[data-behavior="5"] {
            @include bottom-bar.bottom-bar-lg;
            @include bottom-bar.bottom-bar-pushed-lg;
        }
        // Display bottom bar in large size and push it from the size of the medium sidebar
        &[data-behavior="6"] {
            @include bottom-bar.bottom-bar-lg;
            @include bottom-bar.bottom-bar-pushed-md;
        }
    }
}

@media #{variables.$xlarge-and-up} {
    #bottom-bar {
        // Display bottom bar in extra small size and push it from the size of the extra large sidebar
        &[data-behavior="1"] {
            @include bottom-bar.bottom-bar-xs;
            @include bottom-bar.bottom-bar-pushed-xlg;
        }
        // Display bottom bar in small size and push it from the size of the large sidebar
        &[data-behavior="2"] {
            @include bottom-bar.bottom-bar-sm;
            @include bottom-bar.bottom-bar-pushed-lg;
        }
        // Display bottom bar in medium size and push it from the size of the medium sidebar
        &[data-behavior="3"] {
            @include bottom-bar.bottom-bar-md;
            @include bottom-bar.bottom-bar-pushed-md;
        }
        // Display bottom bar in large size and push it from the size of the extra large sidebar
        &[data-behavior="4"] {
            @include bottom-bar.bottom-bar-lg;
            @include bottom-bar.bottom-bar-pushed-xlg;
        }
        // Display bottom bar in large size and push it from the size of the extra large sidebar
        &[data-behavior="5"] {
            @include bottom-bar.bottom-bar-lg;
            @include bottom-bar.bottom-bar-pushed-lg;
        }
        // Display bottom bar in large size and push it from the size of the medium sidebar
        &[data-behavior="6"] {
            @include bottom-bar.bottom-bar-lg;
            @include bottom-bar.bottom-bar-pushed-md;
        }
    }
}