@use "sass:map";
@use "../utils/variables";

#footer {
    color:      map.get(variables.$colors, light);
    font-size:  map.get(variables.$font-size, medium);
    text-align: center;
    margin-top: 70px;
    height:     auto;
    padding:    20px 20px;
}