@use "sass:map";
@use "../variables";
@use "prefix";

/// Mixin helper to push header from medium sidebar size
@mixin header-pushed-md {
    &.pushed {
        @include prefix.prefix(transform, translate3d(#{map.get(variables.$sidebar, md-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}

/// Mixin helper to push header from large sidebar size
@mixin header-pushed-lg {
    &.pushed {
        @include prefix.prefix(transform, translate3d(#{map.get(variables.$sidebar, lg-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}
/// Mixin helper to push header from extra large sidebar size
@mixin header-pushed-xlg {
    &.pushed {
        @include prefix.prefix(transform, translate3d(#{map.get(variables.$sidebar, xlg-screen-width)}, 0, 0), 'webkit' 'moz');
    }
}