@use "sass:color";
/// Helper for 'components/tag' to stylize a tag  with a specified color
/// @param {Color} $color - Color CSS value
@mixin tag-color-variant($color) {
    color:  $color !important;
    border: 1px solid $color;

    &:hover {
        color:           color.adjust($color, $lightness: -15%) !important;
        border:          1px solid color.adjust($color, $lightness: -15%);
        text-decoration: none;
    }
}

/// Helper for 'components/tag' to stylize a tag with a specified size and padding
/// @param {String} $font-size - Font-size CSS value
/// @param {List} $padding - List of padding CSS value
@mixin tag-size-variant($font-size, $padding) {
    font-size: $font-size;
    padding:   $padding;
}