<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />
        The work by <%- config.author %>, unless otherwise specified, is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC 4.0 BY-SA</a> license. The cover picture on the left is from the loved <a href="https://twitter.com/swd3e22">swd3e2</a>.
    </span>
</footer>
