@use "sass:color";
@use "sass:map";
@use "../utils/mixins/button";
@use "../utils/variables";

.btn {
    width:          auto;
    height:         auto;
    background:     white;
    border-radius:  3px;
    padding:        8px 15px;
    margin:         0;
    letter-spacing: variables.$letter-spacing-base;
    font-size:      variables.$font-size-base;
    cursor:         pointer;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

// Disabled button
.btn--disabled,
.btn--disabled:hover {
    color:           color.adjust(map.get(variables.$colors, light), $lightness: 10%) !important;
    border:          1px solid color.adjust(map.get(variables.$colors, light), $lightness: 10%);
    cursor:          not-allowed;
    text-decoration: none;
}

// Color variant
.btn--default {
    @include button.button-color-variant(map.get(variables.$colors, light));
}

.btn--success {
    @include button.button-color-variant(map.get(variables.$colors, success));
}

.btn--primary {
    @include button.button-color-variant(map.get(variables.$colors, primary));
}

.btn--danger {
    @include button.button-color-variant(map.get(variables.$colors, danger));
}

// Size variant
.btn--medium {
    @include button.button-size-variant(map.get(variables.$font-size, medium), 8px 15px);
}

.btn--small {
    @include button.button-size-variant(map.get(variables.$font-size, small), 8px 15px);
}