@use "sass:color";
@use "sass:map";
@use "../utils/variables";

.caption {
    display:       block;
    font-family:   map.get(variables.$font-families, 'caption');
    font-size:     map.get(variables.$font-size, small);
    color:         color.adjust(map.get(variables.$colors, 'light'), $lightness: -10%);
    text-align:    center;
    font-style:    italic;
    padding-right: 10px;
    padding-left:  10px;
}