@use "sass:map";
@use "../utils/mixins/form";
@use "../utils/variables";

.form-control {
    background: transparent;
    width:      100%;
    border:     none;
    outline:    none;
    color:      map.get(variables.$colors, base);
    font-weight: 300;

    &:hover,
    &:focus {
        outline: none;
    }
}


// Input size variant
.input--large {
    @include form.input-size-variant(auto, 10px 0, 18px, 21px);
}
.input--xlarge {
    @include form.input-size-variant(auto, 10px 0, 25px, 30px);
}