@use "sass:map";
@use "../utils/variables";

.main-content-wrap {
    display:       block;
    max-width:     map.get(variables.$main-content, max-width);
    margin:        0 auto;
    padding-right: map.get(variables.$main-content, padding-right-left);
    padding-left:  map.get(variables.$main-content, padding-right-left);
}