@use "../utils/variables";

// Set markdown headings font size on large screen and up
@media #{variables.$large-and-up} {
    .markdown {
        @each $key, $value in variables.$markdown-headings-font-size {
            #{$key} {
                font-size: $value;
            }
        }
    }
}

// Reduce global font-size base and headings font size on small screen and down
@media #{variables.$small-and-down} {
    .markdown {
        @each $key, $value in variables.$markdown-headings-font-size {
            #{$key} {
                font-size: $value - variables.$markdown-headings-font-size-sm-screen-reduction-factor;
            }
        }
    }
}

// Reduce global font-size base and headings font size on medium screen only
@media #{variables.$medium-only} {
    .markdown {
        @each $key, $value in variables.$markdown-headings-font-size {
            #{$key} {
                font-size: $value - variables.$markdown-headings-font-size-md-screen-reduction-factor;
            }
        }
    }
}
