@use "sass:map";
@use "../utils/variables";

.media {
    &-body,
    &-left {
        display:        table-cell;
        vertical-align: top;
    }
    &-left {
        float:         left;
        padding-right: 15px;
    }
    &-body {
        width: 100%;
    }
    &-heading {
        margin: 0 0 -5px;
    }
    &-meta {
        color: map.get(variables.$colors, 'light');
    }
    &-content {
        color: map.get(variables.$colors, 'base');
    }
}