@use "sass:map";
@use "../utils/variables";

.pagination-bar {
    height: auto;
    width:  100%;
    height: variables.$pagination-height;

    .pagination {
        position:    relative;
        height:      variables.$pagination-height;
        line-height: variables.$pagination-height;
        display:     block;
        list-style:  none;
        padding:     0 10px;
        width:       auto;

        .pagination-prev,
        .pagination-next {
            float:        left;
            margin-right: 10px;
        }
        .pagination-number {
            float:     right;
            font-size: map.get(variables.$font-size, small);
            color:     map.get(variables.$colors, light);
        }
    }
}